@import "../../variables";

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.1rem;
  color: $darkGray;
  font-weight: 500;
}
.names {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.values {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 3rem;
}
