@import '../../variables';

.LocationTile {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: auto;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 4rem;
  flex-wrap: wrap;
  &-Title {
    color: $mediumGray;
  }
  &-Row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  &-Location {
    display: flex;
    flex-direction: column;
    &-Name {
      font-size: 2rem;
    }
  }
  &-Diagram {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 12rem;
    font-size: 1.5rem;
  }
  &-Graph {
    position: relative;
    width: 100%;
    padding-bottom: 9rem;
  }
  &-Underline {
    float: left;
    background-color: $background2;
    border-color: transparent;
    border-radius: 2px;
    width: 3rem;
    height: 1px;
    margin-left: 1rem;
  }
  &-Divider {
    background-color: $mediumGray;
    width: 1px;
    border-radius: 3px;
    height: 4rem;
  }
  &-Hours {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  &-Hour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    margin-bottom: 2rem;
    color: $mediumGray;
    width: 50%;
    font-weight: 100;
  }
  &-Time {
    font-size: 2rem;
    font-weight: 100;
  }
}
.positive-text {
  color: green;
}
.negative-text {
  color: red;
}
