@import '../../variables';
.container {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  width: 100%;
  min-height: 530px;
  background-color: inherit;
  @media (max-width: 768px) {
    justify-content: flex-start;
    padding-top: 1rem;
  }
}
.panel {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 1rem;
  width: 30%;
  min-width: 250px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.or {
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.login {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.login-Label {
  font-size: 1rem;
  font-weight: bold;
  color: $mediumGray;
  font-weight: 400;
}
.login-Link {
 margin-top: .4rem;
 &:hover {
   color: $materialBlue;
 }
}
.progress {
  margin-top: 5rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
