@import '../../variables';
body {
  background-color: $background;
}
.container {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: $background;
  height: 100%;
}
a {
  text-decoration: none;
  &:visited {
    text-decoration: none;
    color: inherit;
  }
}
