.container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
.pane {
  display: flex;
  flex-basis: 70%;
}
.loading {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}
